@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --text: #4d0202;
    --background: #EADFDF;
    --primary: #F0AAAA;
    --secondary: #F3B496;
    --accent: #35d5ba;
  }

  .dark {
    --text: #fdb4b4;
    --background: #050505;
    --primary: #800f0f;
    --secondary: #df90fe;
    --accent: #2acbb0;
  }
}

.border-y-transparent {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.zoom:hover img {
  transform: scale(1.1);
}